@charset "utf-8";
.neonderthaw-regular {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
}


@media screen and (min-width: 426px) and (max-width: 11111111111111111111111px){

body{
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #a1f4e5;
}
html{
    height: 100%;
    width: 100%;
}
.heder{
    width: 100%;
    height: 20px;
    width: 100%;
    height: 10%;
    text-align: center;
    background-size: 100%;
    flex-flow:column;
}
.heder2{
}
.homelogo{

}
.link0{
    font-size: 26px;
    text-decoration: none;
    color: #222;
}
.link{
    padding-left: 100px;
    font-size: 26px;
    text-decoration: none;
    color: #222;
}
.hedertop{
    position: fixed;
    width:100%;
    background-color: rgba(243, 255, 255, 0.5);
}
.fuwafurirogo{
    width:45%;
    height:auto;
    padding-top:0px;
    padding-left:30%;
    position: absolute;
}
.fuwafurirogodiv{
    padding-right:10%;
}
}
@media screen and (min-width: 375px) and (max-width: 425px){


    body{
        margin: 0px;
        height: 100%;
        width: 100%;
                        background-color: #a1f4e5;

    }
    html{
        height: 100%;
    }    
    .heder{
    text-align: center;

    }
    .heder2{
        padding-top:22%;
    }
    .homelogo{
        color: rgb(31, 29, 29);
        height: 100%;
        width: 100%;
        font-size: 60px;
        padding-top: 0px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .link0{
        font-size: 18px;
        text-decoration: none;
        color: #222;
    }
    .link{
        padding-left: 100px;
        font-size: 18px;
        text-decoration: none;
        color: #222;
    }
    .hedertop{
        margin-bottom: 5px;
        background-color: rgba(243, 255, 255, 0.5);
    }
    .fuwafurirogo{
        width:80%;
        height:auto;
        padding-top:40%;
    }
    .fuwafurirogodiv{
        text-align: center;
        padding-top: 40%;
        
    }
}
@media screen and (min-width: 281px) and (max-width: 376px){
    body{
        margin: 0px;
        height: 100%;
    }
    html{
        height: 100%;
    }
    .heder{
        width: 100%;
        height: 20px;
        background-color: #a1f4e5;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .heder2{
        padding-top:22%;
    }
    .homelogo{
        color: rgb(31, 29, 29);
        height: 100%;
        width: 100%;
        font-size: 60px;
        padding-top: 0px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .link0{
        font-size: 15px;
        text-decoration: none;
        color: #222;
        font-family: 'Noto Sans', sans-serif;
    }
    .link{
        padding-left: 100px;
        font-size: 15px;
        text-decoration: none;
        color: #222;
        font-family: 'Noto Sans', sans-serif;
    }
    .hedertop{
        margin-bottom: 5px;
        background-color: rgba(255, 178, 178, 0.5);
    }
    }
    @media screen and (min-width: 0px) and (max-width: 281px){
        body{
            margin: 0px;
            height: 100%;
        }
        html{
            height: 100%;
        }
        .heder{
            width: 100%;
            height: 20px;
            background-color: #a1f4e5;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        .heder2{
            padding-top:22%;
        }
        .homelogo{
            color: rgb(31, 29, 29);
            height: 100%;
            width: 100%;
            font-size: 60px;
            padding-top: 0px;
            font-family: 'M PLUS Rounded 1c', sans-serif;
        }
        .link0{
            font-size: 12px;
            text-decoration: none;
            color: #222;
            font-family: 'Noto Sans', sans-serif;
        }
        .link{
            padding-left: 60px;
            font-size: 12px;
            text-decoration: none;
            color: #222;
            font-family: 'Noto Sans', sans-serif;
        }
        .hedertop{
            margin-bottom: 5px;
            background-color: rgba(255, 178, 178, 0.5);
        }
        }










